.agmodal{
	position: relative;
	background: #f7f8f9;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
	width: 450px;
	max-width: 100%;
	margin: 50px 0;
	padding: 30px 35px 30px 35px;
	transition: all 0.4s ease;
	transform-origin: center top;
	cursor: auto;
	display: none;
	will-change: opacity,tranform;

	&:after{
		content: '';
		position: absolute;
		bottom: -50px;
		left: 0;
		width: 100%;
		height: 50px;
		pointer-events: none;
	}

	&--fade{
		opacity: 0;
	}

	&--slide{
		transform: translate3d(0,-500px,0);
	}

	&--scale{
		transform: scale3d(0.9,0.9,0.9);
	}

	&--3d{
		transform: perspective(1000px) rotateX(45deg);
	}

	&--morph{
		transition: transform 0.4s cubic-bezier(0.7,0,0.3,1),opacity 0.4s ease,width 0.4s ease;
		transform: translate3d(-400px, 0, 0) scale3d(1.4, 0.5, 1);
	}

	&--visible{
		transform: translate3d(0,0,0) scale3d(1,1,1);
		opacity: 1;
	}

	&--video{
		padding: 0;
		width: 1920px;
		max-width: 75%;
		max-height: 100%;
		height: auto;

		video{
			width: 100%;
			display: block;
		}
	}

	img{
		max-width: 100%;
		height: auto;
	}
}

.agmodal__wrapper{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: fixed;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	top: 0;
	left: 0;
	z-index: -100;
	transition: all 0.4s ease;
	cursor: pointer;
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	@media (max-width: 1025px){
		display: none;
		transition: none;
	}
	@media (max-width: 640px){
		padding: 0;
	}

	.agmodal{
		display: block;
	}

	&:focus{
		outline-width: 0;
	}

	&--visible{
		display: flex;
		visibility: visible;
		pointer-events: auto;
		opacity: 1;
		z-index: 9999;
	}

	&--center{
		align-items: center;
	}

	& *{
		box-sizing: border-box;
	}
}

$full_cross_size: 36px;
$cross_size: 20px;
$cross_weight: 2px;
$cross_color: #FFF;
$cross-color--hover: #000;
$cross-bg-color: #000;
$cross-bg-color--hover: #fffb42;

.agmodal__close{
	position: absolute;
	top: -$full_cross_size/2;
	right: -$full_cross_size/2;
	cursor: pointer;
	transition: all 0.3s ease;
	background-color: $cross-bg-color;
	width: $full_cross_size;
	height: $full_cross_size;
	border-radius: 50%;
	@media (max-width: 640px){
		top: 5px;
		right: 5px;
	}

	&:hover{
		background-color: $cross-bg-color--hover;
	}

	&:before,&:after{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -$cross_weight/2;
		margin-left: -$cross_size/2;
		width: $cross_size;
		height: $cross_weight;
		background-color: $cross_color;
		transition: all 0.3s ease;
	}

	&:hover:before,&:hover:after{
		background-color: $cross-color--hover;
	}

	&:before{
		transform: rotate(-45deg);
	}

	&:after{
		transform: rotate(45deg);
	}
}

.agmodal__video-preloader{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translate(0,-50%);
	text-align: center;
	z-index: 10;
	font-size: 64px;
}

html{
	&.agmodal--lock-test{
		overflow-y: hidden !important;
	}

	&.agmodal--lock{
		body{
			overflow: hidden !important;
		}
	}
}