.agmodal {
	position: absolute;
	background: #f7f8f9;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	width: 450px;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	z-index: 9999;
	padding: 30px 35px 30px 35px;
	pointer-events: none;
	opacity: 0;
	transition: transform 0.4s ease, opacity 0.4s ease, width 0.4s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
}

.agmodal * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 600px) {
	.agmodal {
		width: 100%;
		max-width: 100%;
	}
}

.agmodal-bg {
	position: fixed;
	display: block;
	height: 100%;
	width: 100%;
	background: #ccc;
	background: rgba(44, 55, 73, 0.9);
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
}

.close-agmodal {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	box-sizing: border-box;
}

.close-agmodal:before, .close-agmodal:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
}

.close-agmodal:hover:before, .close-agmodal:hover:after {
	background-color: #00a0e3;
}

.close-agmodal:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.close-agmodal:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

/***********************EFFECTS**********************/
.ag-fx-slide {
	-webkit-transform: translateY(-1000px);
	-moz-transform: translateY(-1000px);
	-ms-transform: translateY(-1000px);
	-o-transform: translateY(-1000px);
	transform: translateY(-1000px);
}

.ag-fx-scale {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}

.ag-fx-3d {
	-webkit-transform: perspective(1000px) rotateX(45deg);
	-moz-transform: perspective(1000px) rotateX(45deg);
	-ms-transform: perspective(1000px) rotateX(45deg);
	-o-transform: perspective(1000px) rotateX(45deg);
	transform: perspective(1000px) rotateX(45deg);
	opacity: 0;
}

.ag-fx-morph {
	transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.4s ease, width 0.4s ease;
	-webkit-transform: translate3d(-400px, 0, 0) scale3d(1.4, 0.5, 1);
	-moz-transform: translate3d(-400px, 0, 0) scale3d(1.4, 0.5, 1);
	-ms-transform: translate3d(-400px, 0, 0) scale3d(1.4, 0.5, 1);
	-o-transform: translate3d(-400px, 0, 0) scale3d(1.4, 0.5, 1);
	transform: translate3d(-400px, 0, 0) scale3d(1.4, 0.5, 1);
	opacity: 0;
}

.ag-fx-morph_top {
	-webkit-transform: translate3d(0, -200px, 0) scale3d(0.3, 1.4, 1);
	-moz-transform: translate3d(0, -200px, 0) scale3d(0.3, 1.4, 1);
	-ms-transform: translate3d(0, -200px, 0) scale3d(0.3, 1.4, 1);
	-o-transform: translate3d(0, -200px, 0) scale3d(0.3, 1.4, 1);
	transform: translate3d(0, -200px, 0) scale3d(0.3, 1.4, 1);
}

/***********************EFFECTS**********************/
.ag-visible {
	pointer-events: auto;
	-webkit-transform: translateY(0px) scale(1);
	-moz-transform: translateY(0px) scale(1);
	-ms-transform: translateY(0px) scale(1);
	-o-transform: translateY(0px) scale(1);
	transform: translateY(0px) scale(1);
	opacity: 1;
}

.agmodal iframe, .agmodal object, .agmodal embed, .agmodal video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
