.agmodal {
	position: fixed;
	top: 10%;
	left: 0px;
	right: 0px;
	z-index: 99999;
	max-width: 350px;
	margin: auto;
	padding: 30px;
	text-align: center;
	background-color: #fff;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
}

.agmodal-bg {
	position: fixed;
	top: 0;
	left: 0; 
	z-index: 100;
	display: none;
	height: 100%;
	width: 100%;
	background: #ccc;
	background: rgba(0, 0, 0, .6);
	cursor: pointer;
}

.close-agmodal {
	position: absolute;
	top: 7px;
	right: 7px;
	color: #999;
	font-size: 32px;
	font-weight: bold;
	line-height: .5;
	cursor: pointer;
}

.close-agmodal:hover {
	text-decoration: none;
	color: #000;
}

.agmodal input {
	display: block;
	width: 100%;
	margin: 10px 0;
}

.agmodal .note {
	margin: 10px 0 0;
	font-size: 12px;
	text-align: left;
}

.agmodal button {
	display: block;
	width: 100%;
}

.ag-large {
	width: 600px;
}


/***********************EFFECTS**********************/

.ag-fx-slide {
	transform: translateY(-1000px);
}

.ag-fx-scale {
	opacity: 0;
	transform: scale(0.8);
}

.ag-fx-3d {
	opacity: 0;
	transform: perspective(1000px) rotateX(45deg);
}
/***********************EFFECTS**********************/

.ag-visible {
	visibility: visible;
	opacity: 1;
	transform: translateY(0px) scale(1);
}
